<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>
                
                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Empresa">
                    <p:ajax event="close" listener="#{empresaController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{empresaController.empresa!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{empresaController.empresa.empNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Nit" for="idnit" />
                            <p:inputText id="idnit" value="#{empresaController.empresa.empNit}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Telefono" for="idtelefono" />
                            <p:inputText id="idtelefono" value="#{empresaController.empresa.empTelefono}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Direccion" for="iddireccion" />
                            <p:inputText id="iddireccion" value="#{empresaController.empresa.empDireccion}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Razon Social" for="idrazonsocial" />
                            <p:inputText id="idrazonsocial" value="#{empresaController.empresa.empRazonSocial}" required="true" requiredMessage="Este campo es requerido"/>
                        </p:panelGrid>
                        <p:commandButton value="Editar" actionListener="#{empresaController.editar()}" rendered="#{empresaController.empresa.empId > 0}" update=":Datos" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Empresa">
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idEmpresa" fileName="pdfEmpresa"/>
                        </h:commandLink>
                            <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idEmpresa" fileName="excelEmpresa"/>
                        </h:commandLink>
                            <p:dataTable id="idEmpresa" var="item" value="#{empresaController.listaEmpresa}" paginator="true" rows="10"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                    rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Nombre">
                                <h:outputText value="#{item.empNombre}" />
                            </p:column>
                            <p:column headerText="Nit">
                                <h:outputText value="#{item.empNit}" />
                            </p:column>
                            <p:column headerText="Telefono">
                                <h:outputText value="#{item.empTelefono}" />
                            </p:column>
                            <p:column headerText="Direccion">
                                <h:outputText value="#{item.empDireccion}" />
                            </p:column>
                            <p:column headerText="Razon Social">
                                <h:outputText value="#{item.empRazonSocial}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{empresaController.cargaId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>
