<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Menu">
                    <p:ajax event="close" listener="#{menuController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{menuController.menu!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{menuController.menu.menNombre}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel for="idtipo" value="TIPO DE MENU" />
                            <p:selectOneMenu id="idtipo" value="#{menuController.idmenu}" required="true" requiredMessage="Este campo es requerido">
                                <f:selectItem itemLabel="SELECCIONAR" itemValue="" />
                                <f:selectItem itemLabel="MENU GENERAL" itemValue="S" />
                                <f:selectItem itemLabel="MENU FIJO" itemValue="F" />
                                <f:selectItem itemLabel="SUBMENU" itemValue="I" />
                            </p:selectOneMenu>

                            <p:outputLabel value="URL" for="idrul" />
                            <p:inputText id="idrul" value="#{menuController.menu.menUrl}" />

                            <p:outputLabel value="MENU GENERAL" for="idsubmenu" />
                            <p:selectOneMenu id="idsubmenu" value="#{menuController.idsubmenu}">
                                <f:selectItem itemLabel="SELECCIONAR" itemValue="" />
                                <f:selectItem itemLabel="NINGUNO" itemValue="" />
                                <f:selectItems value="#{menuController.listamenugeneral}" var="men" itemLabel="#{men.menNombre}" itemValue="#{men.menCodigo}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Tipo Usuario" for="idtipousuario" />
                            <p:selectOneMenu id="idtipousuario" value="#{menuController.idtipousuario}">
                                <f:selectItem itemLabel="TODOS" itemValue="0" />
                                <f:selectItems value="#{tipoUsuarioController.listaTipousuario}" var="tipusu" itemLabel="#{tipusu.tipusuNombre}" itemValue="#{tipusu.tipusuId}"/>
                            </p:selectOneMenu>




                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{menuController.guardar()}" rendered="#{menuController.menu.menCodigo == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Editar" actionListener="#{menuController.editar()}" rendered="#{menuController.menu.menCodigo > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Menus">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nuevo Menu">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:dataTable id="idUsuarios" var="item" value="#{menuController.listamenu}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Codigo">
                                <h:outputText value="#{item.menCodigo}" />
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText value="#{item.menNombre}" />
                            </p:column>
                            <p:column headerText="URL">
                                <h:outputText value="#{item.menUrl}" />
                            </p:column>
                            <p:column headerText="Tipo">
                                <center>
                                    <h:outputText value="#{item.menuTipo}" />
                                </center>
                            </p:column>
                            <p:column headerText="Tipo Usuario">
                                <h:outputText value="#{item.menuTipoUsuario.tipusuNombre}" />
                            </p:column>
                            <p:column headerText="Sub Menu">
                                <h:outputText value="#{item.menCodigoSubmenu.menNombre}" />
                            </p:column>
                            <p:column headerText="Estado">
                                <h:outputText value="#{item.menEstado}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{menuController.cargarId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{menuController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>