<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Persona">
                    <p:ajax event="close" listener="#{personaController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{personaController.persona!=null}">
                            <p:outputLabel value="Primer Nombre" for="idprimernombre" />
                            <p:inputText id="idprimernombre" value="#{personaController.persona.perPrimerNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Segundo Nombre" for="idsegundonombre" />
                            <p:inputText id="idsegundonombre" value="#{personaController.persona.perSegundoNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Primer Apellido" for="idprimerapellido" />
                            <p:inputText id="idprimerapellido" value="#{personaController.persona.perPrimerApellido}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Segundo Apellido" for="idsegundoapellido" />
                            <p:inputText id="idsegundoapellido" value="#{personaController.persona.perSegundoApellido}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel value="Email" for="idemail" />
                            <p:inputText id="idemail" value="#{personaController.persona.perEmail}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel value="Fecha de Creacion" for="fc"  />
                            <p:calendar id="fc" value="#{personaController.persona.perFechaCreacion}"/>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{personaController.guardar()}" rendered="#{personaController.persona.perId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Editar" actionListener="#{personaController.editar()}" rendered="#{personaController.persona.perId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Personas">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Persona">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idPersonas" fileName="Personas"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idPersonas" fileName="Personas"/>
                        </h:commandLink>
                        <p:dataTable id="idPersonas" var="item" value="#{personaController.listapersona}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Primer Nombre">
                                <h:outputText value="#{item.perPrimerNombre}" />
                            </p:column>
                            <p:column headerText="Segundo Nombre">
                                <h:outputText value="#{item.perSegundoNombre}" />
                            </p:column>
                            <p:column headerText="Primer Apellido">
                                <h:outputText value="#{item.perPrimerApellido}" />
                            </p:column>
                            <p:column headerText="Segundo Apellido">
                                <h:outputText value="#{item.perSegundoApellido}" />
                            </p:column>
                            <p:column headerText="Email">
                                <h:outputText value="#{item.perEmail}" />
                            </p:column>
                            <p:column headerText="Fecha Creacion">
                                <h:outputText value="#{item.perFechaCreacion}" >
                                    <f:convertDateTime pattern="dd-MM-YYYY"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{personaController.cargarId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{personaController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>