<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Proveedor">
                    <p:ajax event="close" listener="#{proveedorController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{proveedorController.proveedor!=null}">
                            <p:outputLabel value="Compañia" for="idcompañia" />
                            <p:inputText id="idcompañia" value="#{proveedorController.proveedor.proCompañia}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Contacto" for="idcontacto" />
                            <p:inputText id="idcontacto" value="#{proveedorController.proveedor.proContacto}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel value="Tipo Documento" for="idtipodocumento" />
                            <h:selectOneMenu id="idtipodocumento" value="#{proveedorController.idtipodocumento}">
                                <f:selectItems value="#{tipoDocumentoController.listatipodocumento}" var="tip" itemLabel="#{tip.tipdocNombre}" itemValue="#{tip.tipdocId}"/>
                            </h:selectOneMenu>

                            <p:outputLabel value="Estado" for="idestado" />
                            <h:selectOneMenu id="idestado" value="#{proveedorController.idestado}">
                                <f:selectItems value="#{estadoController.listaEstado}" var="est" itemLabel="#{est.estNombre}" itemValue="#{est.estId}"/>
                            </h:selectOneMenu>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{proveedorController.guardar()}" rendered="#{proveedorController.proveedor.proId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Editar" actionListener="#{proveedorController.editar()}" rendered="#{proveedorController.proveedor.proId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Proveedor">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nuevo Proveedor">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idPersonas" fileName="Personas"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idPersonas" fileName="Personas"/>
                        </h:commandLink>
                        <p:dataTable id="idPersonas" var="item" value="#{proveedorController.listaproveedor}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Compañia">
                                <h:outputText value="#{item.proCompañia}" />
                            </p:column>
                            <p:column headerText="Contacto">
                                <h:outputText value="#{item.proContacto}" />
                            </p:column>
                            <p:column headerText="Tipo Documento">
                                <h:outputText value="#{item.proTipoDocumento.tipdocNombre}" />
                            </p:column>
                            <p:column headerText="Estado">
                                <h:outputText value="#{item.proEstado.estNombre}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{proveedorController.cargarId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{proveedorController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>