<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Compras">
                    <p:ajax event="close" listener="#{compraController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{compraController.compra!=null}">
                            <p:outputLabel value="Referencia" for="idreferencia" />
                            <p:selectOneMenu id="idreferencia" value="#{compraController.idreferencia}">
                                <f:selectItems value="#{referenciaController.listareferencia}" var="ref" itemLabel="#{ref.refNombre}" itemValue="#{ref.refId}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Proveedor" for="idproveedor" />
                            <p:selectOneMenu id="idproveedor" value="#{compraController.idproveedor}">
                                <f:selectItems value="#{proveedorController.listaproveedor}" var="pro" itemLabel="#{pro.proCompañia}" itemValue="#{pro.proId}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Cantidad" for="idcantidad" />
                            <p:inputText id="idcantidad" value="#{compraController.cantidad}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Descuento" for="iddescuento" />
                            <p:inputText id="iddescuento" value="#{compraController.descuento}" required="true"/>

                            <p:outputLabel value="Precio" for="idprecio" />
                            <p:inputText id="idprecio" value="#{compraController.precio}" required="true" requiredMessage="Este campo es requerido"/>


                            <p:outputLabel value="Sede" for="idsede" />
                            <p:selectOneMenu id="idsede" value="#{compraController.idsede}">
                                <f:selectItems value="#{sedeController.listaSede}" var="sed" itemLabel="#{sed.sedNombre}" itemValue="#{sed.sedId}"/>
                            </p:selectOneMenu>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{compraController.guardar()}" rendered="#{compraController.compra.comId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel  header="Compras" >
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Compra">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:dataTable id="idUsuarios" var="item" value="#{compraController.listacompra}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Referencia">
                                <h:outputText value="#{item.comReferencia.refNombre}" />
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:outputText value="#{item.comCantidad}" />
                            </p:column>
                            <p:column headerText="Proveedor">
                                <h:outputText value="#{item.comProveedor.proCompañia}" />
                            </p:column>
                            <p:column headerText="Fecha Compra">
                                <h:outputText value="#{item.comFechaCompra}" >
                                    <f:convertDateTime pattern="dd-MM-YYYY"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Precio">
                                <h:outputText value="#{item.comPrecio}" />
                            </p:column>
                            <p:column headerText="Iva">
                                <h:outputText value="#{item.comIva}" />
                            </p:column>
                            <p:column headerText="Subtotal">
                                <h:outputText value="#{item.comSubtotal}" />
                            </p:column>
                            <p:column headerText="Descuento">
                                <h:outputText value="#{item.comDescuento}" />
                            </p:column>
                            <p:column headerText="Total">
                                <h:outputText value="#{item.comTotal}" />
                            </p:column>
                            <p:column headerText="Usuario">
                                <h:outputText value="#{item.comUsuario.usuNombre}" />
                            </p:column>
                            <p:column headerText="Sede">
                                <h:outputText value="#{item.comSede.sedNombre}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Eliminar" actionListener="#{compraController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>

                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>