<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Ventas">
                    <p:ajax event="close" listener="#{ventaController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{ventaController.venta!=null}">
                            <p:outputLabel value="Sede" for="idsede" />
                            <p:selectOneMenu id="idsede" value="#{ventaController.idsede}">
                                <f:selectItems value="#{sedeController.listaSede}" var="sed" itemLabel="#{sed.sedNombre}" itemValue="#{sed.sedId}"/>
                            </p:selectOneMenu>
                            
                            <p:outputLabel value="Referencia" for="idreferencia" />
                            <p:selectOneMenu id="idreferencia" value="#{ventaController.idreferencia}">
                                <f:selectItems value="#{referenciaController.listareferencia}" var="ref" itemLabel="#{ref.refNombre}" itemValue="#{ref.refId}"/>
                                <p:ajax update="unidades" />
                            </p:selectOneMenu>
                            <p:outputLabel value="Unidades en Stock" for="unidades" />
                            <h:outputText id="unidades" value="#{ventaController.idreferencia}" />                      

                            <p:outputLabel value="Usuaario" for="idusuario" />
                            <p:selectOneMenu id="idusuario" value="#{ventaController.idusuario}">
                                <f:selectItems value="#{usuarioController.listausuario}" var="usu" itemLabel="#{usu.usuNombre}" itemValue="#{usu.usuId}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Cantidad" for="idcantidad" />
                            <p:inputText id="idcantidad" value="#{ventaController.cantidad}" required="true" requiredMessage="Este campo es requerido"/>

                            
                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{ventaController.guardar()}" rendered="#{ventaController.venta.venId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <p:spacer width="10"/>
                <h:form id="Datos"> 
                    <p:panel  header="Ventas" >
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Venta">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:dataTable id="idUsuarios" var="item" value="#{ventaController.listaventa}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Referencia">
                                <h:outputText value="#{item.venReferencia.refNombre}" />
                            </p:column>
                            <p:column headerText="Cantidad">
                                <h:outputText value="#{item.venCantidad}" />
                            </p:column>
                            <p:column headerText="Fecha Venta">
                                <h:outputText value="#{item.venFecha}" >
                                    <f:convertDateTime pattern="dd-MM-YYYY"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Precio">
                                <h:outputText value="#{item.venPrecio}" />
                            </p:column>
                            <p:column headerText="Iva">
                                <h:outputText value="#{item.venIva}" />
                            </p:column>
                            <p:column headerText="Subtotal">
                                <h:outputText value="#{item.venSubtotal}" />
                            </p:column>
                            <p:column headerText="Descuento">
                                <h:outputText value="#{item.venDescuento}" />
                            </p:column>
                            <p:column headerText="Total">
                                <h:outputText value="#{item.venTotal}" />
                            </p:column>
                            <p:column headerText="Usuario">
                                <h:outputText value="#{item.venUsuario.usuNombre}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Eliminar" actionListener="#{ventaController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>