<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml"> 
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>
                
                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Referencia">
                    <p:ajax event="close" listener="#{referenciaController.limpiar()}" update=":da"/>
                    <h:form id="da"  enctype="multipart/form-data">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{referenciaController.referencia!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{referenciaController.referencia.refNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            
                            
                            <p:outputLabel value="Foto Actual" for="idfoto" rendered="#{referenciaController.referencia.refId > 0}"/>
                            <p:graphicImage  id="idfoto" height="45" width="45" value="/resources/images/referencias/#{referenciaController.referencia.refFoto}" rendered="#{referenciaController.referencia.refId > 0}"/>

                            <p:outputLabel value="Nueva Foto"/>
                            <p:fileUpload value="#{referenciaController.file}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                        
                            
                            <p:outputLabel value="Nota" for="idnota" />
                            <p:inputText id="idnota" value="#{referenciaController.referencia.refNota}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel value="Marca" for="idmarca" />
                            <p:selectOneMenu id="idmarca" value="#{referenciaController.idmarca}">
                                <f:selectItems value="#{marcaController.listaMarca}" var="mar" itemLabel="#{mar.marNombre}" itemValue="#{mar.marId}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Linea" for="idlinea" />
                            <p:selectOneMenu id="idlinea" value="#{referenciaController.idlinea}">
                                <f:selectItems value="#{lineaController.listaLinea}" var="lin" itemLabel="#{lin.linNombre}" itemValue="#{lin.linId}"/>
                            </p:selectOneMenu>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{referenciaController.guardar()}" rendered="#{referenciaController.referencia.refId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Editar" actionListener="#{referenciaController.editar()}" rendered="#{referenciaController.referencia.refId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Referencias">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Referencia" rendered="#{usuarioController.usuario.usuTipoUsuario.tipusuNombre=='ADMINISTRADOR'}">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                            <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF" rendered="#{usuarioController.usuario.usuTipoUsuario.tipusuNombre=='ADMINISTRADOR'}">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idReferencias" fileName="pdfReferencias"/>
                        </h:commandLink>
                            <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS" rendered="#{usuarioController.usuario.usuTipoUsuario.tipusuNombre=='ADMINISTRADOR'}">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idReferencias" fileName="excelReferencias"/>
                        </h:commandLink>
                        <p:dataTable id="idReferencias" var="item" value="#{referenciaController.listareferencia}" paginator="true" rows="10"
                                     widgetVar="itemTable"
                                     emptyMessage="No hay criterio para esta búsqueda"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <f:facet name="header" >
                                <p:outputPanel style="position:relative;left:-282px;">
                                    <h:outputText value="Buscar Todos"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('itemTable').filter()" style="width: 300px;" placeholder="Buscar por: Nombre - Marca - Linea"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="STOCK">
                                <h:outputText value="#{item.refCantidadStock}" />
                            </p:column>
                            <p:column headerText="Nombre" filterBy="#{item.refNombre}" filterStyle="display:none">
                                <h:outputText value="#{item.refNombre}" />
                            </p:column>
                            <p:column headerText="Foto">
                                <center>
                                    <p:graphicImage  height="100" width="100" value="/resources/images/referencias/#{item.refFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Linea" filterBy="#{item.refLinea.linNombre}" filterStyle="display:none">
                                <h:outputText value="#{item.refLinea.linNombre}" />
                            </p:column>
                            <p:column headerText="Marca" filterBy="#{item.refMarca.marFoto}" filterStyle="display:none">
                                <center>
                                    <p:graphicImage  height="45" width="45" value="/resources/images/marcas/#{item.refMarca.marFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Nota">
                                <h:outputText value="#{item.refNota}" />
                            </p:column>
                            <p:column headerText="Acciones" rendered="#{usuarioController.usuario.usuTipoUsuario.tipusuNombre=='ADMINISTRADOR'}">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{referenciaController.cargaId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{referenciaController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
                
                
        <div id="graficogatos"></div>
        <div id="graficoperros"></div>
                
                
            </h:body>
        </ui:define>
    </ui:composition>
</html>