<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <h:form id="Datos"> 
                    <p:spacer width="20"/>
                    <p:panel header="Referencias por Sedes">
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idReferenciasSedes" fileName="pdfReferencias"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idReferenciasSedes" fileName="excelReferencias"/>
                        </h:commandLink>
                        <p:dataTable id="idReferenciasSedes" var="item" value="#{referenciaSedeController.listarefsed}" paginator="true" rows="10"
                                     widgetVar="itemTable"
                                     emptyMessage="No hay criterio para esta búsqueda"

                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                             <f:facet name="header" >
                                <p:outputPanel style="position:relative;left:-282px;">
                                    <h:outputText value="Buscar Todos"/>
                                    <p:inputText id="globalFilter" onkeyup="PF('itemTable').filter()" style="width: 292px;" placeholder="Buscar por: Nombre - Sede - Marca"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column headerText="STOCK">
                                <h:outputText value="#{item.refsedCantidad}" />
                            </p:column>
                            <p:column headerText="Nombre" filterBy="#{item.referencia.refNombre}" filterStyle="display:none">
                                <h:outputText value="#{item.referencia.refNombre}" />
                            </p:column>
                            <p:column headerText="Foto">
                                <center>
                                    <p:graphicImage  height="100" width="100" value="/resources/images/referencias/#{item.referencia.refFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Marca" filterBy="#{item.referencia.refMarca.marFoto}" filterStyle="display:none">
                                <center>
                                    <p:graphicImage  height="45" width="45" value="/resources/images/marcas/#{item.referencia.refMarca.marFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Sede" filterBy="#{item.sede.sedNombre}" filterStyle="display:none">
                                <h:outputText value="#{item.sede.sedNombre}" />
                            </p:column>
                            <p:column headerText="Foto">
                                <center>
                                    <p:graphicImage  height="100" width="100" value="/resources/images/sedes/#{item.sede.sedFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Direccion">
                                <h:outputText value="#{item.sede.sedDireccion}" />
                            </p:column>
                            <p:column headerText="Telefono">
                                <h:outputText value="#{item.sede.sedTelefono}" />
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>