<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Marcas">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Marca">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idMarcas" fileName="Marcas"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idMarcas" fileName="Marcas"/>
                        </h:commandLink>
                        <p:dataTable id="idMarcas" var="item" value="#{marcaController.listaMarca}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Nombre">
                                <h:outputText value="#{item.marNombre}" />
                            </p:column>
                            <p:column headerText="Foto">
                                <center>
                                    <p:graphicImage  height="45" width="45" value="/resources/images/marcas/#{item.marFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{marcaController.cargaId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{marcaController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Marca">
                    <p:ajax event="close" listener="#{marcaController.limpiar()}" update=":da"/>
                    <h:form id="da" enctype="multipart/form-data">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{marcaController.marca!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{marcaController.marca.marNombre}"/>

                            <p:outputLabel value="Foto Actual" for="idfoto" rendered="#{marcaController.marca.marId > 0}"/>
                            <p:graphicImage  id="idfoto" height="45" width="45" value="/resources/images/marcas/#{marcaController.marca.marFoto}" rendered="#{marcaController.marca.marId > 0}"/>

                            <p:outputLabel value="Nueva Foto"/>
                            <p:fileUpload value="#{marcaController.file}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                        </p:panelGrid>
                        <p:commandButton value="Guardar" action="#{marcaController.guardar()}" rendered="#{marcaController.marca.marId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Editar" actionListener="#{marcaController.editar()}" rendered="#{marcaController.marca.marId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
            </h:body>
        </ui:define>
    </ui:composition>
</html>
