<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Ubicacion">
                    <p:ajax event="close" listener="#{ubicacionController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{ubicacionController.ubicacion!=null}">
                            <p:outputLabel value="Latitud" for="idlatitud" />
                            <p:inputText id="idlatitud" value="#{ubicacionController.ubicacion.ubiLatitud}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Longitud" for="idlongitud" />
                            <p:inputText id="idlongitud" value="#{ubicacionController.ubicacion.ubiLongitud}" required="true" requiredMessage="Este campo es requerido"/>
                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{ubicacionController.guardar()}" rendered="#{ubicacionController.ubicacion.ubiId == null}" update=":Datos" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Editar" actionListener="#{ubicacionController.editar()}" rendered="#{ubicacionController.ubicacion.ubiId > 0}" update=":Datos" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Ubicaciones">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Ubicacion">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exprotar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idUbicaciones" fileName="pdfUbicacion"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exprotar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idUbicaciones" fileName="excelUbicacion"/>
                        </h:commandLink>
                        <p:dataTable  id="idubicaciones" var="item" value="#{ubicacionController.listaUbicacion}" paginator="true" rows="10"
                                      paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                      currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                      rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Latitud">
                                <h:outputText value="#{item.ubiLatitud}" />
                            </p:column>
                            <p:column headerText="Longitud">
                                <h:outputText value="#{item.ubiLongitud}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{ubicacionController.cargaId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{ubicacionController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>
