<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Usuario">
                    <p:ajax event="close" listener="#{usuarioController.limpiar()}" update=":da"/>
                    <h:form id="da">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{usuarioController.usuario!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{usuarioController.usuario.usuNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Clave" for="idclave" />
                            <p:inputText id="idclave" value="#{usuarioController.usuario.usuClave}" required="true" requiredMessage="Este campo es requerido"/>

                            <p:outputLabel value="Persona" for="idpersona" />
                            <h:selectOneMenu id="idpersona" value="#{usuarioController.idpersona}">
                                <f:selectItems value="#{personaController.listapersona}" var="per" itemLabel="#{per.perPrimerNombre}" itemValue="#{per.perId}"/>
                            </h:selectOneMenu>

                            <p:outputLabel value="Estado" for="idestado" />
                            <h:selectOneMenu id="idestado" value="#{usuarioController.idestado}">
                                <f:selectItems value="#{estadoController.listaEstado}" var="est" itemLabel="#{est.estNombre}" itemValue="#{est.estId}"/>
                            </h:selectOneMenu>

                            <p:outputLabel value="Tipo de Usuario" for="idtipousuario" />
                            <h:selectOneMenu id="idtipousuario" value="#{usuarioController.idtipousuario}">
                                <f:selectItems value="#{tipoUsuarioController.listaTipousuario}" var="tipusu" itemLabel="#{tipusu.tipusuNombre}" itemValue="#{tipusu.tipusuId}"/>
                            </h:selectOneMenu>

                            <p:outputLabel value="Lista de Precio" for="idlistaprecio" />
                            <h:selectOneMenu id="idlistaprecio" value="#{usuarioController.idlistaprecio}">
                                <f:selectItems value="#{listaPrecioController.listaListaPrecio}" var="lispre" itemLabel="#{lispre.lispreNombre}" itemValue="#{lispre.lispreId}"/>
                            </h:selectOneMenu>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" actionListener="#{usuarioController.guardar()}" rendered="#{usuarioController.usuario.usuId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Editar" actionListener="#{usuarioController.editar()}" rendered="#{usuarioController.usuario.usuId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Usuarios">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nuevo Usuario">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idUsuarios" fileName="Usuarios"/>
                        </h:commandLink>
                        <p:dataTable id="idUsuarios" var="item" value="#{usuarioController.listausuario}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Persona">
                                <h:outputText value="#{item.usuPersona.perPrimerNombre}" />
                            </p:column>
                            <p:column headerText="Usuario">
                                <h:outputText value="#{item.usuNombre}" />
                            </p:column>
                            <p:column headerText="Clave">
                                <h:outputText value="#{item.usuClave}" />
                            </p:column>
                            <p:column headerText="Fecha Creacion">
                                <h:outputText value="#{item.usuFechaCreacion}" >
                                    <f:convertDateTime pattern="dd-MM-YYYY"/>
                                </h:outputText>
                            </p:column>
                            <p:column headerText="Estado">
                                <h:outputText value="#{item.usuEstado.estNombre}" />
                            </p:column>
                            <p:column headerText="Tipo de Usuario">
                                <h:outputText value="#{item.usuTipoUsuario.tipusuNombre}" />
                            </p:column>
                            <p:column headerText="Lista de Precio">
                                <h:outputText value="#{item.usuListaPrecio.lispreNombre}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{usuarioController.cargarId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{usuarioController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>