<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <h:body>
                <p:growl id="MSJ"/>

                <p:dialog widgetVar="tu"  showEffect="clip" resizable="false" header="Sede">
                    <p:ajax event="close" listener="#{sedeController.limpiar()}" update=":da"/>
                    <h:form id="da" enctype="multipart/form-data">
                        <p:growl id="growle" showDetail="true" sticky="true" /> 
                        <p:panelGrid id="pgtu" columns="2" rendered="#{sedeController.sede!=null}">
                            <p:outputLabel value="Nombre" for="idnombre" />
                            <p:inputText id="idnombre" value="#{sedeController.sede.sedNombre}" required="true" requiredMessage="Este campo es requerido"/>
                            <p:outputLabel value="Direccion" for="iddireccion" />
                            <p:inputText id="iddireccion" value="#{sedeController.sede.sedDireccion}"/>
                            <p:outputLabel value="Telefono" for="idtelefono" />
                            <p:inputText id="idtelefono" value="#{sedeController.sede.sedTelefono}"/>

                            <p:outputLabel value="Foto Actual" for="idfoto" rendered="#{sedeController.sede.sedId > 0}"/>
                            <p:graphicImage  id="idfoto" height="100" width="120" value="/resources/images/sedes/#{sedeController.sede.sedFoto}" rendered="#{sedeController.sede.sedId > 0}"/>

                            <p:outputLabel value="Nueva Foto"/>
                            <p:fileUpload value="#{sedeController.file}" mode="simple" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>


                            <p:outputLabel value="Empresa" for="idempresa" />
                            <h:selectOneMenu id="idempresa" value="#{sedeController.idempresa}">
                                <f:selectItems value="#{empresaController.listaEmpresa}" var="emp" itemLabel="#{emp.empNombre}" itemValue="#{emp.empId}"/>
                            </h:selectOneMenu>

                            <p:outputLabel value="Ubicacion" for="idubicacion" />
                            <h:selectOneMenu id="idubicacion" value="#{sedeController.idubicacion}">
                                <f:selectItems value="#{ubicacionController.listaUbicacion}" var="ubi" itemLabel="#{ubi.ubiId}" itemValue="#{ubi.ubiId}"/>
                            </h:selectOneMenu>

                        </p:panelGrid>
                        <p:commandButton value="Guardar" action="#{sedeController.guardar()}" rendered="#{sedeController.sede.sedId == null}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Editar" actionListener="#{sedeController.editar()}" rendered="#{sedController.sede.sedId > 0}" update=":Datos :MSJ" oncomplete="PF('tu').hide()" ajax="false"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('tu').hide()"/>    
                    </h:form>
                </p:dialog>
                <h:form id="Datos"> 
                    <p:spacer width="10"/>
                    <p:panel header="Sedes">
                        <p:commandLink  oncomplete="PF('tu').show()" title="Nueva Sede">
                            <p:graphicImage height="40" width="40" library="images" name="nuevo.png"/>
                        </p:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar PDF">
                            <h:graphicImage url="/resources/images/pdf.png" height="30" width="30"/>
                            <p:dataExporter type="pdf" target="idSedes" fileName="pdfSedes"/>
                        </h:commandLink>
                        <p:spacer width="20"/>
                        <h:commandLink title="Exportar XLS">
                            <h:graphicImage url="/resources/images/excel.png" height="30" width="30"/>
                            <p:dataExporter type="xls" target="idSedes" fileName="excelSedes"/>
                        </h:commandLink>
                        <p:dataTable id="idSedes" var="item" value="#{sedeController.listaSede}" paginator="true" rows="10"
                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} Resultados"
                                     rowsPerPageTemplate="5,10,15">
                            <p:column headerText="Nombre">
                                <h:outputText value="#{item.sedNombre}" />
                            </p:column>
                            <p:column headerText="Telefono">
                                <h:outputText value="#{item.sedTelefono}" />
                            </p:column>
                            <p:column headerText="Direccion">
                                <h:outputText value="#{item.sedDireccion}" />
                            </p:column>
                            <p:column headerText="Foto">
                                <center>
                                    <p:graphicImage  height="100" width="120" value="/resources/images/sedes/#{item.sedFoto}" />
                                </center>
                            </p:column>
                            <p:column headerText="Empresa">
                                <h:outputText value="#{item.sedEmpresa.empNombre}" />
                            </p:column>
                            <p:column headerText="Latitud">
                                <h:outputText value="#{item.sedUbicacion.ubiLatitud}" />
                            </p:column>
                            <p:column headerText="Longitud">
                                <h:outputText value="#{item.sedUbicacion.ubiLatitud}" />
                            </p:column>
                            <p:column headerText="Acciones">
                                <center>
                                    <p:commandLink  id="Editar" actionListener="#{sedeController.cargaId(item)}" update=":da" oncomplete="PF('tu').show()">
                                        <p:graphicImage height="30" width="30" library="images" name="editar.png"/>
                                    </p:commandLink>
                                    <p:spacer width="10"/>
                                    <p:commandLink  id="Eliminar" actionListener="#{sedeController.eliminar(item)}" update=":Datos :MSJ">
                                        <p:graphicImage height="30" width="30" library="images" name="eliminar.png"/>
                                    </p:commandLink>
                                </center>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </h:form>
            </h:body>
        </ui:define>
    </ui:composition>
</html>