<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <title>Tienda de Computadores</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
        <!--Custom styles-->
        <link rel="stylesheet" type="text/css" href="resources/css/stylelogin.css"/>
    </h:head>
    <body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <center>  <h3>INICIAR SESION</h3> </center>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <center>
                        <br/>
                        <div class="card-body">
                            <h:form>
                                <p:growl autoUpdate="true" showDetail="true" severity="info,fatal,warn" showSummary="true" id="log"/>                
                                <h:panelGrid columns="3" cellpadding="5" id="pgi">
                                    <p:column>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <h:outputLabel for="username"  />
                                            <p:inputText id="username" value="#{usuarioController.user}" required="true" label="username" />
                                            <p:messages for="username" />

                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <h:outputLabel for="password"  />
                                            <p:password id="password" value="#{usuarioController.password}" 
                                                        validatorMessage="Las Claves no coinciden" weakLabel="Débil" strongLabel="Fuerte" goodLabel="Bueno"
                                                        required="true" label="password"  feedback="true" promptLabel="Iingrese una clave" />
                                            <p:messages for="password" />
                                        </div>


                                        <div class="row align-items-center remember">
                                            <br></br>
                                        </div>
                                        <center>
                                            <div class="form-group">
                                                <p:commandButton  id="boton" value="INGRESAR"  action="#{usuarioController.verificar()}" update="pgi,log" />
                                            </div>
                                            
                                        </center> 
                                    </p:column>
                                </h:panelGrid>
                            </h:form>
                            <div class="input-group form-group">        
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>