<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <meta charset="utf-8"/>

        <h:outputScript library="primefaces" name="jquery/jquery.js"/>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!--Funciones -->


        <script src="resources/js/referencia.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <!-- bootrap-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""/>


        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
        <title>PC SHOP</title>
        <style>
            /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
            .row.content {height: 583px}

            /* Set gray background color and 100% height */
            .sidenav {
                background-image: url('resources/images/BACKGROUND.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                font-family: 'Numans', sans-serif;
            }

            /* Set black background color, white text and some padding */
            footer {
                background-color: #0D041D;
                color: white;
                padding: 15px;
            }

            /* On small screens, set height to 'auto' for sidenav and grid */
            @media screen and (max-width: 767px) {
                .sidenav {
                    height: auto;
                    padding: 15px;
                }
                .row.content {height: auto;} 
            }
            #mapreferencia { height: 583px; }
        </style>
    </h:head>
    <!-- Metodo initialize me carga el mapa-->
    <h:body > 
        
        <div class="container-fluid">
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <br/>   
                    <ul class="nav nav-pills nav-stacked">
                        <center>
                            <h:link title="PC-SHOP"  outcome="/Referencia/listar" >
                                <p:graphicImage height="120" width="120" library="images" name="PC.png"/>
                            </h:link>
                        </center>
                        <hr class="sidebar-divider" />
                        <li ><h:link outcome="/login" style="text-align: center;font-size: 18px;color:#FFFFFF;background-color:#2471a3;" value="Iniciar  Sesión" rendered="#{usuarioController.usuario.usuNombre == null}"/></li> 
                        <center>
                            <p:outputLabel  value="#{usuarioController.usuario.usuNombre}" style="text-align: center;font-size: 18px;color:#FFFFFF" rendered="#{usuarioController.usuario.usuNombre != null}"/>
                        </center>
                        <hr class="sidebar-divider" />



                        <h:outputLabel value="Referencias" for="idreferencia" style="color:#FFFFFF"/>
                        <p:selectOneMenu id="idreferencia" widgetVar="wv_idreferencia" onchange="getSelectValue()">
                            <f:selectItem itemLabel="SELECCIONAR" itemValue="" />
                            <f:selectItems value="#{referenciaController.listareferencia}" var="ref" itemLabel="#{ref.refNombre}" itemValue="#{ref.refId}"/>
                            <p:ajax update="graficareferencias"></p:ajax>
                        </p:selectOneMenu>

                        <input id="lispreId" name="lispreId" type="hidden" value="#{usuarioController.usuario.usuListaPrecio.lispreId}"/>
                        <br/>
                        <li id="grafica" type="button" style="text-align: center;font-size: 18px;color:#FFFFFF;background-color:#2471a3;" value="Ver Referencias">Mostrar Grafica</li>

                        <br/>
                        <li ><h:link   outcome="/index" style="text-align: center;font-size: 18px;color:#FFFFFF;background-color:#b03a2e;" value="Regresar"/></li>



                    </ul>
                </div >
                <div class="col-sm-10">
                    <div jsf:id="mapreferencia"></div>
                </div>
            </div>
        </div>

        <div jsf:id="graficareferencias"></div>
        <div id="graficoperros"></div>

        <footer class="container-fluid">
            <p style="text-align: center;font-size: 24px;">Uniremington Manizales 2020</p>
        </footer>
    </h:body>
</html>